body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: left;
  text-decoration: underline;
}

p1 {

  text-align: right;


}


form {
  text-align: left;
  margin-top: 20px;
}

button {
  width: 80px;
  height: 25px;
  margin-top: 2px;
  font-size: 15px;
  color:blueviolet
}

#result {
  text-align: center;
  margin-top: 20px;
}

input {padding: 2px;


}
